doctype html
html
	head
		title TP01
		link(rel="stylesheet", href="../css/main.css")
	body
		include ./header.pug
		main
			section.article-container
				//img.cover(src="../assets/static/background.jpg", alt="cover")
				article
					h2
						| Rødhåd & Sigha, Antigone & Ø [Phase] and Oscar Mulero & Inigo Kennedy are a few of the combinations featured on the triple-vinyl set, which lands in December.
					p
						| Token, the Belgian techno label operated by Kr!z, will mark a decade in operation with a compilation of collaborations called Momentum (10 Years Of Token). 
						br
						br
						|             Over the past ten years, Token has become one of techno's most prominent labels. Momentum will feature just about all of its core artists, working in pairs. Inigo Kennedy, who helped launch the label in 2007 with the Identify Yourself 12-inch, is on board, along with Rødhåd, Sigha, Ø [Phase], Antigone, Tadeo, Ctrls, Oscar Mulero and Kr!z himself. Since Token's launch, Kr!z has focused on DJing and running the label, and his two appearances here—one alongside Kennedy, the other with Ctrls—are described in press notes as "a first step... into releasing his own music." 
						br
						br
						|             Momentum will be available in December on triple-vinyl, CD and digital formats.
		footer
			p ECE PARIS
