header
    figure
        //img(src="../assets/logo.png", alt="Find My Records")
        figcaption Find My <br> Records
    nav
        ul
            li
                a(href="#articles") Articles
            li
                a(href="#contact") Contact
